.form {
    display: flex;
    align-items: center;
    justify-content: center;
    &__container {
        width: 40%;
        font-size: 30pt;
        @include tablet {
            font-size: 18pt;
            width: 70%;
        }
        @include mobile {
            font-size: 18pt;
            width: 70%;
        }
    }
}

.btn {
    &-primary {
        font-size: 18pt;
    }
}

// #coments {
//     width: 100%;
// }