@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
.navbar,
.nav {
    font-family: "Fjalla One", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 20px 0;
    &-dark &-nav &-link {
        color: #fff;
        padding-left: 25px;
        &:active,
        &:hover {
            color: #bb6f1e;
        }
    }
    @include tablet {
        letter-spacing: 0.1rem;
        padding: 10px 0;
    }
}

// @include tablet {
//     .navbar,
//     .nav {
//         letter-spacing: 0.1rem;
//         padding: 10px 0;
//         color: aqua;
//     }
// }