@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Secular+One&display=swap');
.card {
    width: 100%;
    border: none;
    background-color: rgb(233, 233, 233);
    &-title {
        display: inline-block;
    }
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    &__cards {
        width: 26rem;
        height: 20rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: solid;
        border-color: rgb(175, 76, 1);
        border-radius: 15%;
        color: rgb(0, 2, 10);
        font-family: 'Ubuntu', sans-serif;
        h5 {
            font-weight: 900;
            font-size: 21px;
            text-transform: uppercase;
            font-family: 'Secular One', sans-s //background-color: rgb(255, 255, 255);
            //border-radius: 25%;
        }
        p {
            font-weight: 600;
            font-size: 18px;
            background-color: rgb(255, 255, 255);
            border-radius: 5%;
            margin-bottom: 3rem;
            //width: 80%;
        }
        a {
            //margin-left: 30%;
            text-decoration: none;
            font-weight: bold;
            font-size: 16pt;
            color: rgb(6, 18, 253);
            background-color: rgb(230, 230, 230);
            border: solid rgb(54, 124, 255);
            border-radius: 40%;
            padding: 3%;
            margin-top: 3rem;
        }
        &--robotics {
            background-image: url(../images/robotics.jpg);
            a {
                margin-left: 24%;
            }
            h5 {
                font-size: 17pt;
            }
            p {
                background-color: rgba(255, 255, 255, 0.789);
            }
        }
        &--web {
            background-image: url(../images/web4.jpg);
            h5 {
                background-color: rgba(0, 0, 0, 0.068);
                color: white;
                font-size: 20pt;
            }
            p {
                background-color: rgba(0, 0, 0, 0.177);
                color: white;
            }
        }
        &--tfg {
            background-image: url(../images/TFG.jpg);
            p {
                background-color: rgba(197, 197, 197, 0.85);
            }
            h5 {
                font-size: 21pt;
            }
        }
        &--tfm {
            background-image: url(../images/tfm2.png);
            h5 {
                background-color: rgb(255, 255, 255);
                display: inline-block;
                font-size: 21pt;
            }
            p {
                background-color: rgba(255, 255, 255, 0.932);
            }
        }
    }
}